.loading-wrapper {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
}

.task-wrapper {
	background-color: #282c34;
	display: flex;
	justify-content: center;
}

.tasks-container {
	width: 100%;	
	max-width: 720px;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.task {
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	color: #282c34;
	width: 220px;
	margin: 16px;
	flex-grow: 1;
	font-size: 16px;
	cursor: pointer;
}

.task-title {
	font-size: 12px;
	margin-top: 6px;
}

.modal-wrapper {
	position: fixed;
	min-height: 100vh;
	background-color: rgb(40 44 52 / 80%);
	min-width: 100vw;
	left: 0;
	top: 0;
}

.modal {
	max-width: 320px;
	background-color: white;
	padding: 16px;
	height: 120px;
	border-radius: 8px;
	margin: 16px auto;
	display: flex;
	flex-direction: column;
}

.done-task {
	background-color: lawngreen;
}
